/* Overides default margin and padding values */
*{
    margin: 0;
    padding: 0;
}

/* Adds background image to the body */
body{
    background-image: url("../images/App_background.png");
    padding: 170px;
    background-repeat: no-repeat;
    background-size: cover;
}

